/*
The following are class specific styles for h1 in the notes pages and input boxes in control divs
*/

.notesTabContent h1 {
	font-size: 5vw;
	color: Black;
}

/*
Styles for the tab bars on the two pages
*/

.notesTab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: #f1f1f1;
}

/*
Styles for the tab contents on the two pages
*/

.notesTabContent {
	background-color: #ccc;
	display: none;
	padding-left: 12px;
	padding-right: 12px;
	border: outset #ccc;
	border-top: solid #ccc;
	max-height: 100vh;
}

.notesTabContent textarea {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
	height: 85vh;
}

/*
Styles for the buttons on the two pages. These use inheritance, so all buttons use the same padding etc
*/

.notesTab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
}

/*
Id specific styles
*/

#logout {
	float: right;
	border: outset #ccc;
	border-radius: 0px;
	background-color: #ccc;
	border-bottom: none;
}

#logout:hover {
	background-color: Blue;
	color: White;
}